.btn {
    z-index: 100000;
    height: 50px;
    width: 50px;
    background: rgb(2, 51, 73);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 30px;
    bottom: 30px;
    cursor: pointer;
}

.icone {
    width: 25px;
}

.icone:hover {
    width: 28px;
    transition: 0.3s ease;

}
