
img {
    display: inline-block;
    width: 150px;
    height: 200px;
    border: 1px solid grey;
}

.flexible {
    display: flex;
    align-items: center;
    margin: lem;
}

.flexible div {padding: lem}

body {
    background-color: rgb(12, 4, 4);
    color: aliceblue;
}





