* {
    font-family: 'Poppins', sans-serif
}

body {
  
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 150px, 150px,150px;
  background-size: contain;
  background-repeat: no-repeat;
}
.bloc1{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  width: 65%;
  border: 20px;
  border-color: rgb(15, 15, 111);
  padding: 150px, auto;
  position: relative;
  animation: slide-in_left 2s ease-in-out;
}

.wrapper img{
max-width: 400px;
float: left;
border: 3px, white;
margin-right: 40px;
animation: fade 2s ease-in-out ;
}
.text-box{
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: justify;
}
.bloc2{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  width: 65%;
  position: relative;
  animation: slide-in_right 2s ease-in-out;


}
.wrapper1 img{
  max-width: 600px;
  float: right;
  border: 3px, white;
  margin-left: 40px;
  animation: fade 2s ease-in-out ;


  }
  .wrapper2 img{
    width: 100%;
    border: 3px, white;
    align-content: center;
    animation: fade 2s ease-in-out ;

    }
  .bloc3{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    width: 65%;
    position: relative;
  animation: slide-in_left 2s ease-in-out;
  background-size: cover;

  }
  .bloc3 h1{
    text-align: center;
  }
  @keyframes fade {
    0% {
      opacity: 0.1;
    }
    100% {
      opacity: 1.1;
    }
  }

  @keyframes slide-in_left {
    0% {
      transform: translateX(-100%) translateY(0);
      opacity: 0;
    }
    100% {
      transform: translateX(0) translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in_right {
  0% {
    transform: translateX(100%) translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateX(0) translateY(0);
    opacity: 1;
  }
}
