footer {
    flex-shrink: 0;
    border-top: 1px dashed #fff;
    width: 100%;
    background:rgb(0, 0, 0);
    color: whitesmoke;
}   

.contenu-footer {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 16px;
    padding: 50px 0 100px;
}

.bloc {
    flex-basis: 15%;
    margin: 0 30px;

}

.footer-aboutus h3,
.footer-atos h3 {
    font-size: 22px;
    padding-bottom: 20px;
}

.liste-us,
.liste-atos {
    list-style-type : none;
}

.liste-us li,
.liste-atos li {
    padding: 2px 0;
}

.liste-us a,
.liste-atos a {
    text-decoration: none;
    color: whitesmoke;
}

.liste-us a:hover,
.liste-atos a:hover {
    color: darkblue;
}

footer img {
    width:100px;
}

.copyright {
    text-align: center;
    opacity: 70%;
    color: whitesmoke;
}